body {
    height: 100vh;
    width: 100%;
}

.header {
    background-color: lightgray;
    width: 100%;
    height: 12vh; 
}

.top-left {
    background-color: #02A4DB;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 5px 0 0 20px;
}

.text {
    padding: 35px;
    height: 20vh;
    width: 90%;
}   

p {
    font-family: Verdana;
    color: gray;
    font-size: 20px;
}

.blue {
    background-color: #02A4DB;
    width: 100%;
    height: 12vh;
}

.green {
    background-color: #7CF1D1;
    width: 100%;
    height: 12vh;
}

.muted-yellow {
    background-color: #D7E166;
    width: 100%;
    height: 12vh;
}

.yellow {
    background-color: #F7FF12;
    width: 100%;
    height: 12vh;
}