body {
    height: 100vh;
    width: 100%;
}

.header {
    background-color: lightgray;
    width: 100%;
    height: 10vh;
}

.top-left {
    background-color: 
    height: 70px;
    width: 70px;
    display: inline-block;
}

.text {

}

.blue {

}

.green {

}

.muted-yellow {

}

.yellow {

}